/******************************

  GLOBAL STYLES

*******************************/

// general layout

$breakpoints: (
  'small': 767px,
  'medium': 992px,
  'large': 1200px
);


// Google Fonts

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Google Icons
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");


// font-families

$font-stack: (
  'Poppins',
  'Roboto',
  sans-serif
);


// base font size
$base-family: 'Poppins', sans-serif;
$font-size: 1rem;


// Base styles

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  display: block;
  font-family: $base-family;
  font-size: 14px;
  @media (min-width:1024px) {
      font-size: 16px;
  }
}

body {
  width: 100vw;
  min-height: 100vh;
  color: $base-black;
  background:
    radial-gradient(1000px 600px at 10% -20%, change-color($base-yellow, $alpha: 0.18) 0%, transparent 60%),
    radial-gradient(900px 500px at 110% 0%, change-color($base-red, $alpha: 0.12) 0%, transparent 60%),
    linear-gradient(180deg, change-color($base-blue, $alpha: 0.08) 0%, change-color($base-white, $alpha: 1) 60%);
  background-color: $base-white;
  background-attachment: fixed, fixed, fixed;
}
