/*
********************************
*
*  WEATHER DETAILS STYLE
*
*********************************
*/

.details {
  &-card {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &-wrap {
    width: auto;
    font-weight: 500;
  }

  &-data {
    margin: 0 0.5rem;
  }
}
